{
    "openapi": "3.0.0",
    "info": {
        "title": "Telegram Bot API",
        "description": "Auto-generated OpenAPI schema by TGScraper.",
        "version": "6.0.0"
    },
    "servers": [
        {
            "url": "https://api.telegram.org/bot{token}",
            "variables": {
                "token": {
                    "default": "1234:AAbbcc",
                    "description": "Bot's unique authentication token, given by @BotFather."
                }
            }
        }
    ],
    "externalDocs": {
        "description": "Official Telegram Bot API documentation.",
        "url": "https://core.telegram.org/bots/api"
    },
    "components": {
        "responses": {
            "BadRequest": {
                "description": "Bad request, you have provided malformed data.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "The authorization token is invalid or it has been revoked.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "This action is forbidden.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "The specified resource was not found.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "Conflict": {
                "description": "There is a conflict with another instance using webhook or polling.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "TooManyRequests": {
                "description": "You're doing too many requests, retry after a while.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "ServerError": {
                "description": "The bot API is experiencing some issues, try again later.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "UnknownError": {
                "description": "An unknown error occurred.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "schemas": {
            "Response": {
                "type": "object",
                "description": "Represents the default response object.",
                "required": [
                    "ok"
                ],
                "properties": {
                    "ok": {
                        "type": "boolean"
                    }
                }
            },
            "Success": {
                "description": "Request was successful, the result is returned.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Response"
                    },
                    {
                        "type": "object",
                        "required": [
                            "result"
                        ],
                        "properties": {
                            "result": {
                                "type": "object"
                            }
                        }
                    }
                ]
            },
            "Error": {
                "description": "Request was unsuccessful, so an error occurred.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Response"
                    },
                    {
                        "type": "object",
                        "required": [
                            "error_code",
                            "description"
                        ],
                        "properties": {
                            "error_code": {
                                "type": "integer"
                            },
                            "description": {
                                "type": "string"
                            },
                            "parameters": {
                                "$ref": "#/components/schemas/ResponseParameters"
                            }
                        }
                    }
                ]
            },
            "Update": {
                "description": "This object represents an incoming update.At most one of the optional parameters can be present in any given update.",
                "required": [
                    "update_id"
                ],
                "properties": {
                    "update_id": {
                        "type": "integer"
                    },
                    "message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "edited_message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "channel_post": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "edited_channel_post": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "inline_query": {
                        "$ref": "#/components/schemas/InlineQuery"
                    },
                    "chosen_inline_result": {
                        "$ref": "#/components/schemas/ChosenInlineResult"
                    },
                    "callback_query": {
                        "$ref": "#/components/schemas/CallbackQuery"
                    },
                    "shipping_query": {
                        "$ref": "#/components/schemas/ShippingQuery"
                    },
                    "pre_checkout_query": {
                        "$ref": "#/components/schemas/PreCheckoutQuery"
                    },
                    "poll": {
                        "$ref": "#/components/schemas/Poll"
                    },
                    "poll_answer": {
                        "$ref": "#/components/schemas/PollAnswer"
                    },
                    "my_chat_member": {
                        "$ref": "#/components/schemas/ChatMemberUpdated"
                    },
                    "chat_member": {
                        "$ref": "#/components/schemas/ChatMemberUpdated"
                    },
                    "chat_join_request": {
                        "$ref": "#/components/schemas/ChatJoinRequest"
                    }
                },
                "type": "object"
            },
            "WebhookInfo": {
                "description": "Contains information about the current status of a webhook.",
                "required": [
                    "url",
                    "has_custom_certificate",
                    "pending_update_count"
                ],
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "has_custom_certificate": {
                        "type": "boolean"
                    },
                    "pending_update_count": {
                        "type": "integer"
                    },
                    "ip_address": {
                        "type": "string"
                    },
                    "last_error_date": {
                        "type": "integer"
                    },
                    "last_error_message": {
                        "type": "string"
                    },
                    "last_synchronization_error_date": {
                        "type": "integer"
                    },
                    "max_connections": {
                        "type": "integer"
                    },
                    "allowed_updates": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "type": "object"
            },
            "User": {
                "description": "This object represents a Telegram user or bot.",
                "required": [
                    "id",
                    "is_bot",
                    "first_name"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "is_bot": {
                        "type": "boolean"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "language_code": {
                        "type": "string"
                    },
                    "can_join_groups": {
                        "type": "boolean"
                    },
                    "can_read_all_group_messages": {
                        "type": "boolean"
                    },
                    "supports_inline_queries": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "Chat": {
                "description": "This object represents a chat.",
                "required": [
                    "id",
                    "type"
                ],
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "photo": {
                        "$ref": "#/components/schemas/ChatPhoto"
                    },
                    "bio": {
                        "type": "string"
                    },
                    "has_private_forwards": {
                        "type": "boolean",
                        "default": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "invite_link": {
                        "type": "string"
                    },
                    "pinned_message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/ChatPermissions"
                    },
                    "slow_mode_delay": {
                        "type": "integer"
                    },
                    "message_auto_delete_time": {
                        "type": "integer"
                    },
                    "has_protected_content": {
                        "type": "boolean",
                        "default": true
                    },
                    "sticker_set_name": {
                        "type": "string"
                    },
                    "can_set_sticker_set": {
                        "type": "boolean",
                        "default": true
                    },
                    "linked_chat_id": {
                        "type": "integer"
                    },
                    "location": {
                        "$ref": "#/components/schemas/ChatLocation"
                    }
                },
                "type": "object"
            },
            "Message": {
                "description": "This object represents a message.",
                "required": [
                    "message_id",
                    "date",
                    "chat"
                ],
                "properties": {
                    "message_id": {
                        "type": "integer"
                    },
                    "from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "sender_chat": {
                        "$ref": "#/components/schemas/Chat"
                    },
                    "date": {
                        "type": "integer"
                    },
                    "chat": {
                        "$ref": "#/components/schemas/Chat"
                    },
                    "forward_from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "forward_from_chat": {
                        "$ref": "#/components/schemas/Chat"
                    },
                    "forward_from_message_id": {
                        "type": "integer"
                    },
                    "forward_signature": {
                        "type": "string"
                    },
                    "forward_sender_name": {
                        "type": "string"
                    },
                    "forward_date": {
                        "type": "integer"
                    },
                    "is_automatic_forward": {
                        "type": "boolean",
                        "default": true
                    },
                    "reply_to_message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "via_bot": {
                        "$ref": "#/components/schemas/User"
                    },
                    "edit_date": {
                        "type": "integer"
                    },
                    "has_protected_content": {
                        "type": "boolean",
                        "default": true
                    },
                    "media_group_id": {
                        "type": "string"
                    },
                    "author_signature": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "animation": {
                        "$ref": "#/components/schemas/Animation"
                    },
                    "audio": {
                        "$ref": "#/components/schemas/Audio"
                    },
                    "document": {
                        "$ref": "#/components/schemas/Document"
                    },
                    "photo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PhotoSize"
                        }
                    },
                    "sticker": {
                        "$ref": "#/components/schemas/Sticker"
                    },
                    "video": {
                        "$ref": "#/components/schemas/Video"
                    },
                    "video_note": {
                        "$ref": "#/components/schemas/VideoNote"
                    },
                    "voice": {
                        "$ref": "#/components/schemas/Voice"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "contact": {
                        "$ref": "#/components/schemas/Contact"
                    },
                    "dice": {
                        "$ref": "#/components/schemas/Dice"
                    },
                    "game": {
                        "$ref": "#/components/schemas/Game"
                    },
                    "poll": {
                        "$ref": "#/components/schemas/Poll"
                    },
                    "venue": {
                        "$ref": "#/components/schemas/Venue"
                    },
                    "location": {
                        "$ref": "#/components/schemas/Location"
                    },
                    "new_chat_members": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "left_chat_member": {
                        "$ref": "#/components/schemas/User"
                    },
                    "new_chat_title": {
                        "type": "string"
                    },
                    "new_chat_photo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PhotoSize"
                        }
                    },
                    "delete_chat_photo": {
                        "type": "boolean",
                        "default": true
                    },
                    "group_chat_created": {
                        "type": "boolean",
                        "default": true
                    },
                    "supergroup_chat_created": {
                        "type": "boolean",
                        "default": true
                    },
                    "channel_chat_created": {
                        "type": "boolean",
                        "default": true
                    },
                    "message_auto_delete_timer_changed": {
                        "$ref": "#/components/schemas/MessageAutoDeleteTimerChanged"
                    },
                    "migrate_to_chat_id": {
                        "type": "integer"
                    },
                    "migrate_from_chat_id": {
                        "type": "integer"
                    },
                    "pinned_message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "invoice": {
                        "$ref": "#/components/schemas/Invoice"
                    },
                    "successful_payment": {
                        "$ref": "#/components/schemas/SuccessfulPayment"
                    },
                    "connected_website": {
                        "type": "string"
                    },
                    "passport_data": {
                        "$ref": "#/components/schemas/PassportData"
                    },
                    "proximity_alert_triggered": {
                        "$ref": "#/components/schemas/ProximityAlertTriggered"
                    },
                    "video_chat_scheduled": {
                        "$ref": "#/components/schemas/VideoChatScheduled"
                    },
                    "video_chat_started": {
                        "$ref": "#/components/schemas/VideoChatStarted"
                    },
                    "video_chat_ended": {
                        "$ref": "#/components/schemas/VideoChatEnded"
                    },
                    "video_chat_participants_invited": {
                        "$ref": "#/components/schemas/VideoChatParticipantsInvited"
                    },
                    "web_app_data": {
                        "$ref": "#/components/schemas/WebAppData"
                    },
                    "reply_markup": {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                    }
                },
                "type": "object"
            },
            "MessageId": {
                "description": "This object represents a unique message identifier.",
                "required": [
                    "message_id"
                ],
                "properties": {
                    "message_id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "MessageEntity": {
                "description": "This object represents one special entity in a text message. For example, hashtags, usernames, URLs, etc.",
                "required": [
                    "type",
                    "offset",
                    "length"
                ],
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "url": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "language": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "PhotoSize": {
                "description": "This object represents one size of a photo or a file / sticker thumbnail.",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "width",
                    "height"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Animation": {
                "description": "This object represents an animation file (GIF or H.264/MPEG-4 AVC video without sound).",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "width",
                    "height",
                    "duration"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    },
                    "file_name": {
                        "type": "string"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Audio": {
                "description": "This object represents an audio file to be treated as music by the Telegram clients.",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "duration"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "performer": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "file_name": {
                        "type": "string"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    }
                },
                "type": "object"
            },
            "Document": {
                "description": "This object represents a general file (as opposed to photos, voice messages and audio files).",
                "required": [
                    "file_id",
                    "file_unique_id"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    },
                    "file_name": {
                        "type": "string"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Video": {
                "description": "This object represents a video file.",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "width",
                    "height",
                    "duration"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    },
                    "file_name": {
                        "type": "string"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "VideoNote": {
                "description": "This object represents a video message (available in Telegram apps as of v.4.0).",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "length",
                    "duration"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "length": {
                        "type": "integer"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Voice": {
                "description": "This object represents a voice note.",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "duration"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Contact": {
                "description": "This object represents a phone contact.",
                "required": [
                    "phone_number",
                    "first_name"
                ],
                "properties": {
                    "phone_number": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "vcard": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Dice": {
                "description": "This object represents an animated emoji that displays a random value.",
                "required": [
                    "emoji",
                    "value"
                ],
                "properties": {
                    "emoji": {
                        "type": "string"
                    },
                    "value": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "PollOption": {
                "description": "This object contains information about one answer option in a poll.",
                "required": [
                    "text",
                    "voter_count"
                ],
                "properties": {
                    "text": {
                        "type": "string"
                    },
                    "voter_count": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "PollAnswer": {
                "description": "This object represents an answer of a user in a non-anonymous poll.",
                "required": [
                    "poll_id",
                    "user",
                    "option_ids"
                ],
                "properties": {
                    "poll_id": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "option_ids": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    }
                },
                "type": "object"
            },
            "Poll": {
                "description": "This object contains information about a poll.",
                "required": [
                    "id",
                    "question",
                    "options",
                    "total_voter_count",
                    "is_closed",
                    "is_anonymous",
                    "type",
                    "allows_multiple_answers"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "question": {
                        "type": "string"
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PollOption"
                        }
                    },
                    "total_voter_count": {
                        "type": "integer"
                    },
                    "is_closed": {
                        "type": "boolean"
                    },
                    "is_anonymous": {
                        "type": "boolean"
                    },
                    "type": {
                        "type": "string"
                    },
                    "allows_multiple_answers": {
                        "type": "boolean"
                    },
                    "correct_option_id": {
                        "type": "integer"
                    },
                    "explanation": {
                        "type": "string"
                    },
                    "explanation_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "open_period": {
                        "type": "integer"
                    },
                    "close_date": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Location": {
                "description": "This object represents a point on the map.",
                "required": [
                    "longitude",
                    "latitude"
                ],
                "properties": {
                    "longitude": {
                        "type": "number"
                    },
                    "latitude": {
                        "type": "number"
                    },
                    "horizontal_accuracy": {
                        "type": "number"
                    },
                    "live_period": {
                        "type": "integer"
                    },
                    "heading": {
                        "type": "integer"
                    },
                    "proximity_alert_radius": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Venue": {
                "description": "This object represents a venue.",
                "required": [
                    "location",
                    "title",
                    "address"
                ],
                "properties": {
                    "location": {
                        "$ref": "#/components/schemas/Location"
                    },
                    "title": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "foursquare_id": {
                        "type": "string"
                    },
                    "foursquare_type": {
                        "type": "string"
                    },
                    "google_place_id": {
                        "type": "string"
                    },
                    "google_place_type": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WebAppData": {
                "description": "Contains data sent from a Web App to the bot.",
                "required": [
                    "data",
                    "button_text"
                ],
                "properties": {
                    "data": {
                        "type": "string"
                    },
                    "button_text": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ProximityAlertTriggered": {
                "description": "This object represents the content of a service message, sent whenever a user in the chat triggers a proximity alert set by another user.",
                "required": [
                    "traveler",
                    "watcher",
                    "distance"
                ],
                "properties": {
                    "traveler": {
                        "$ref": "#/components/schemas/User"
                    },
                    "watcher": {
                        "$ref": "#/components/schemas/User"
                    },
                    "distance": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "MessageAutoDeleteTimerChanged": {
                "description": "This object represents a service message about a change in auto-delete timer settings.",
                "required": [
                    "message_auto_delete_time"
                ],
                "properties": {
                    "message_auto_delete_time": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "VideoChatScheduled": {
                "description": "This object represents a service message about a video chat scheduled in the chat.",
                "required": [
                    "start_date"
                ],
                "properties": {
                    "start_date": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "VideoChatStarted": {
                "description": "This object represents a service message about a video chat started in the chat. Currently holds no information.",
                "type": "object"
            },
            "VideoChatEnded": {
                "description": "This object represents a service message about a video chat ended in the chat.",
                "required": [
                    "duration"
                ],
                "properties": {
                    "duration": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "VideoChatParticipantsInvited": {
                "description": "This object represents a service message about new members invited to a video chat.",
                "required": [
                    "users"
                ],
                "properties": {
                    "users": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                },
                "type": "object"
            },
            "UserProfilePhotos": {
                "description": "This object represent a user's profile pictures.",
                "required": [
                    "total_count",
                    "photos"
                ],
                "properties": {
                    "total_count": {
                        "type": "integer"
                    },
                    "photos": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PhotoSize"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "File": {
                "description": "This object represents a file ready to be downloaded. The file can be downloaded via the link https://api.telegram.org/file/bot<token>/<file_path>. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling getFile.",
                "required": [
                    "file_id",
                    "file_unique_id"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "file_size": {
                        "type": "integer"
                    },
                    "file_path": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WebAppInfo": {
                "description": "Contains information about a Web App.",
                "required": [
                    "url"
                ],
                "properties": {
                    "url": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ReplyKeyboardMarkup": {
                "description": "This object represents a custom keyboard with reply options (see Introduction to bots for details and examples).",
                "required": [
                    "keyboard"
                ],
                "properties": {
                    "keyboard": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/KeyboardButton"
                            }
                        }
                    },
                    "resize_keyboard": {
                        "type": "boolean"
                    },
                    "one_time_keyboard": {
                        "type": "boolean"
                    },
                    "input_field_placeholder": {
                        "type": "string"
                    },
                    "selective": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "KeyboardButton": {
                "description": "This object represents one button of the reply keyboard. For simple text buttons String can be used instead of this object to specify text of the button. Optional fields web_app, request_contact, request_location, and request_poll are mutually exclusive.",
                "required": [
                    "text"
                ],
                "properties": {
                    "text": {
                        "type": "string"
                    },
                    "request_contact": {
                        "type": "boolean"
                    },
                    "request_location": {
                        "type": "boolean"
                    },
                    "request_poll": {
                        "$ref": "#/components/schemas/KeyboardButtonPollType"
                    },
                    "web_app": {
                        "$ref": "#/components/schemas/WebAppInfo"
                    }
                },
                "type": "object"
            },
            "KeyboardButtonPollType": {
                "description": "This object represents type of a poll, which is allowed to be created and sent when the corresponding button is pressed.",
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ReplyKeyboardRemove": {
                "description": "Upon receiving a message with this object, Telegram clients will remove the current custom keyboard and display the default letter-keyboard. By default, custom keyboards are displayed until a new keyboard is sent by a bot. An exception is made for one-time keyboards that are hidden immediately after the user presses a button (see ReplyKeyboardMarkup).",
                "required": [
                    "remove_keyboard"
                ],
                "properties": {
                    "remove_keyboard": {
                        "type": "boolean",
                        "default": true
                    },
                    "selective": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "InlineKeyboardMarkup": {
                "description": "This object represents an inline keyboard that appears right next to the message it belongs to.",
                "required": [
                    "inline_keyboard"
                ],
                "properties": {
                    "inline_keyboard": {
                        "type": "array",
                        "items": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/InlineKeyboardButton"
                            }
                        }
                    }
                },
                "type": "object"
            },
            "InlineKeyboardButton": {
                "description": "This object represents one button of an inline keyboard. You must use exactly one of the optional fields.",
                "required": [
                    "text"
                ],
                "properties": {
                    "text": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "callback_data": {
                        "type": "string"
                    },
                    "web_app": {
                        "$ref": "#/components/schemas/WebAppInfo"
                    },
                    "login_url": {
                        "$ref": "#/components/schemas/LoginUrl"
                    },
                    "switch_inline_query": {
                        "type": "string"
                    },
                    "switch_inline_query_current_chat": {
                        "type": "string"
                    },
                    "callback_game": {
                        "$ref": "#/components/schemas/CallbackGame"
                    },
                    "pay": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "LoginUrl": {
                "description": "This object represents a parameter of the inline keyboard button used to automatically authorize a user. Serves as a great replacement for the Telegram Login Widget when the user is coming from Telegram. All the user needs to do is tap/click a button and confirm that they want to log in:\nTelegram apps support these buttons as of version 5.7.",
                "required": [
                    "url"
                ],
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "forward_text": {
                        "type": "string"
                    },
                    "bot_username": {
                        "type": "string"
                    },
                    "request_write_access": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "CallbackQuery": {
                "description": "This object represents an incoming callback query from a callback button in an inline keyboard. If the button that originated the query was attached to a message sent by the bot, the field message will be present. If the button was attached to a message sent via the bot (in inline mode), the field inline_message_id will be present. Exactly one of the fields data or game_short_name will be present.",
                "required": [
                    "id",
                    "from",
                    "chat_instance"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "message": {
                        "$ref": "#/components/schemas/Message"
                    },
                    "inline_message_id": {
                        "type": "string"
                    },
                    "chat_instance": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    },
                    "game_short_name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ForceReply": {
                "description": "Upon receiving a message with this object, Telegram clients will display a reply interface to the user (act as if the user has selected the bot's message and tapped 'Reply'). This can be extremely useful if you want to create user-friendly step-by-step interfaces without having to sacrifice privacy mode.",
                "required": [
                    "force_reply"
                ],
                "properties": {
                    "force_reply": {
                        "type": "boolean",
                        "default": true
                    },
                    "input_field_placeholder": {
                        "type": "string"
                    },
                    "selective": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "ChatPhoto": {
                "description": "This object represents a chat photo.",
                "required": [
                    "small_file_id",
                    "small_file_unique_id",
                    "big_file_id",
                    "big_file_unique_id"
                ],
                "properties": {
                    "small_file_id": {
                        "type": "string"
                    },
                    "small_file_unique_id": {
                        "type": "string"
                    },
                    "big_file_id": {
                        "type": "string"
                    },
                    "big_file_unique_id": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ChatInviteLink": {
                "description": "Represents an invite link for a chat.",
                "required": [
                    "invite_link",
                    "creator",
                    "creates_join_request",
                    "is_primary",
                    "is_revoked"
                ],
                "properties": {
                    "invite_link": {
                        "type": "string"
                    },
                    "creator": {
                        "$ref": "#/components/schemas/User"
                    },
                    "creates_join_request": {
                        "type": "boolean"
                    },
                    "is_primary": {
                        "type": "boolean"
                    },
                    "is_revoked": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "expire_date": {
                        "type": "integer"
                    },
                    "member_limit": {
                        "type": "integer"
                    },
                    "pending_join_request_count": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ChatAdministratorRights": {
                "description": "Represents the rights of an administrator in a chat.",
                "required": [
                    "is_anonymous",
                    "can_manage_chat",
                    "can_delete_messages",
                    "can_manage_video_chats",
                    "can_restrict_members",
                    "can_promote_members",
                    "can_change_info",
                    "can_invite_users"
                ],
                "properties": {
                    "is_anonymous": {
                        "type": "boolean"
                    },
                    "can_manage_chat": {
                        "type": "boolean"
                    },
                    "can_delete_messages": {
                        "type": "boolean"
                    },
                    "can_manage_video_chats": {
                        "type": "boolean"
                    },
                    "can_restrict_members": {
                        "type": "boolean"
                    },
                    "can_promote_members": {
                        "type": "boolean"
                    },
                    "can_change_info": {
                        "type": "boolean"
                    },
                    "can_invite_users": {
                        "type": "boolean"
                    },
                    "can_post_messages": {
                        "type": "boolean"
                    },
                    "can_edit_messages": {
                        "type": "boolean"
                    },
                    "can_pin_messages": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "ChatMember": {
                "description": "This object contains information about one member of a chat. Currently, the following 6 types of chat members are supported:",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/ChatMemberOwner"
                    },
                    {
                        "$ref": "#/components/schemas/ChatMemberAdministrator"
                    },
                    {
                        "$ref": "#/components/schemas/ChatMemberMember"
                    },
                    {
                        "$ref": "#/components/schemas/ChatMemberRestricted"
                    },
                    {
                        "$ref": "#/components/schemas/ChatMemberLeft"
                    },
                    {
                        "$ref": "#/components/schemas/ChatMemberBanned"
                    }
                ]
            },
            "ChatMemberOwner": {
                "description": "Represents a chat member that owns the chat and has all administrator privileges.",
                "required": [
                    "status",
                    "user",
                    "is_anonymous"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "is_anonymous": {
                        "type": "boolean"
                    },
                    "custom_title": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ChatMemberAdministrator": {
                "description": "Represents a chat member that has some additional privileges.",
                "required": [
                    "status",
                    "user",
                    "can_be_edited",
                    "is_anonymous",
                    "can_manage_chat",
                    "can_delete_messages",
                    "can_manage_video_chats",
                    "can_restrict_members",
                    "can_promote_members",
                    "can_change_info",
                    "can_invite_users"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "can_be_edited": {
                        "type": "boolean"
                    },
                    "is_anonymous": {
                        "type": "boolean"
                    },
                    "can_manage_chat": {
                        "type": "boolean"
                    },
                    "can_delete_messages": {
                        "type": "boolean"
                    },
                    "can_manage_video_chats": {
                        "type": "boolean"
                    },
                    "can_restrict_members": {
                        "type": "boolean"
                    },
                    "can_promote_members": {
                        "type": "boolean"
                    },
                    "can_change_info": {
                        "type": "boolean"
                    },
                    "can_invite_users": {
                        "type": "boolean"
                    },
                    "can_post_messages": {
                        "type": "boolean"
                    },
                    "can_edit_messages": {
                        "type": "boolean"
                    },
                    "can_pin_messages": {
                        "type": "boolean"
                    },
                    "custom_title": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ChatMemberMember": {
                "description": "Represents a chat member that has no additional privileges or restrictions.",
                "required": [
                    "status",
                    "user"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    }
                },
                "type": "object"
            },
            "ChatMemberRestricted": {
                "description": "Represents a chat member that is under certain restrictions in the chat. Supergroups only.",
                "required": [
                    "status",
                    "user",
                    "is_member",
                    "can_change_info",
                    "can_invite_users",
                    "can_pin_messages",
                    "can_send_messages",
                    "can_send_media_messages",
                    "can_send_polls",
                    "can_send_other_messages",
                    "can_add_web_page_previews",
                    "until_date"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "is_member": {
                        "type": "boolean"
                    },
                    "can_change_info": {
                        "type": "boolean"
                    },
                    "can_invite_users": {
                        "type": "boolean"
                    },
                    "can_pin_messages": {
                        "type": "boolean"
                    },
                    "can_send_messages": {
                        "type": "boolean"
                    },
                    "can_send_media_messages": {
                        "type": "boolean"
                    },
                    "can_send_polls": {
                        "type": "boolean"
                    },
                    "can_send_other_messages": {
                        "type": "boolean"
                    },
                    "can_add_web_page_previews": {
                        "type": "boolean"
                    },
                    "until_date": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ChatMemberLeft": {
                "description": "Represents a chat member that isn't currently a member of the chat, but may join it themselves.",
                "required": [
                    "status",
                    "user"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    }
                },
                "type": "object"
            },
            "ChatMemberBanned": {
                "description": "Represents a chat member that was banned in the chat and can't return to the chat or view chat messages.",
                "required": [
                    "status",
                    "user",
                    "until_date"
                ],
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "until_date": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ChatMemberUpdated": {
                "description": "This object represents changes in the status of a chat member.",
                "required": [
                    "chat",
                    "from",
                    "date",
                    "old_chat_member",
                    "new_chat_member"
                ],
                "properties": {
                    "chat": {
                        "$ref": "#/components/schemas/Chat"
                    },
                    "from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "date": {
                        "type": "integer"
                    },
                    "old_chat_member": {
                        "$ref": "#/components/schemas/ChatMember"
                    },
                    "new_chat_member": {
                        "$ref": "#/components/schemas/ChatMember"
                    },
                    "invite_link": {
                        "$ref": "#/components/schemas/ChatInviteLink"
                    }
                },
                "type": "object"
            },
            "ChatJoinRequest": {
                "description": "Represents a join request sent to a chat.",
                "required": [
                    "chat",
                    "from",
                    "date"
                ],
                "properties": {
                    "chat": {
                        "$ref": "#/components/schemas/Chat"
                    },
                    "from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "date": {
                        "type": "integer"
                    },
                    "bio": {
                        "type": "string"
                    },
                    "invite_link": {
                        "$ref": "#/components/schemas/ChatInviteLink"
                    }
                },
                "type": "object"
            },
            "ChatPermissions": {
                "description": "Describes actions that a non-administrator user is allowed to take in a chat.",
                "properties": {
                    "can_send_messages": {
                        "type": "boolean"
                    },
                    "can_send_media_messages": {
                        "type": "boolean"
                    },
                    "can_send_polls": {
                        "type": "boolean"
                    },
                    "can_send_other_messages": {
                        "type": "boolean"
                    },
                    "can_add_web_page_previews": {
                        "type": "boolean"
                    },
                    "can_change_info": {
                        "type": "boolean"
                    },
                    "can_invite_users": {
                        "type": "boolean"
                    },
                    "can_pin_messages": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "ChatLocation": {
                "description": "Represents a location to which a chat is connected.",
                "required": [
                    "location",
                    "address"
                ],
                "properties": {
                    "location": {
                        "$ref": "#/components/schemas/Location"
                    },
                    "address": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BotCommand": {
                "description": "This object represents a bot command.",
                "required": [
                    "command",
                    "description"
                ],
                "properties": {
                    "command": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BotCommandScope": {
                "description": "This object represents the scope to which bot commands are applied. Currently, the following 7 scopes are supported:",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/BotCommandScopeDefault"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeAllPrivateChats"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeAllGroupChats"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeAllChatAdministrators"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeChat"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeChatAdministrators"
                    },
                    {
                        "$ref": "#/components/schemas/BotCommandScopeChatMember"
                    }
                ]
            },
            "BotCommandScopeDefault": {
                "description": "Represents the default scope of bot commands. Default commands are used if no commands with a narrower scope are specified for the user.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "default"
                    }
                },
                "type": "object"
            },
            "BotCommandScopeAllPrivateChats": {
                "description": "Represents the scope of bot commands, covering all private chats.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "all_private_chats"
                    }
                },
                "type": "object"
            },
            "BotCommandScopeAllGroupChats": {
                "description": "Represents the scope of bot commands, covering all group and supergroup chats.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "all_group_chats"
                    }
                },
                "type": "object"
            },
            "BotCommandScopeAllChatAdministrators": {
                "description": "Represents the scope of bot commands, covering all group and supergroup chat administrators.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "all_chat_administrators"
                    }
                },
                "type": "object"
            },
            "BotCommandScopeChat": {
                "description": "Represents the scope of bot commands, covering a specific chat.",
                "required": [
                    "type",
                    "chat_id"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "chat"
                    },
                    "chat_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "BotCommandScopeChatAdministrators": {
                "description": "Represents the scope of bot commands, covering all administrators of a specific group or supergroup chat.",
                "required": [
                    "type",
                    "chat_id"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "chat_administrators"
                    },
                    "chat_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "BotCommandScopeChatMember": {
                "description": "Represents the scope of bot commands, covering a specific member of a group or supergroup chat.",
                "required": [
                    "type",
                    "chat_id",
                    "user_id"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "chat_member"
                    },
                    "chat_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "user_id": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "MenuButton": {
                "description": "This object describes the bot's menu button in a private chat. It should be one of",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/MenuButtonCommands"
                    },
                    {
                        "$ref": "#/components/schemas/MenuButtonWebApp"
                    },
                    {
                        "$ref": "#/components/schemas/MenuButtonDefault"
                    }
                ]
            },
            "MenuButtonCommands": {
                "description": "Represents a menu button, which opens the bot's list of commands.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "commands"
                    }
                },
                "type": "object"
            },
            "MenuButtonWebApp": {
                "description": "Represents a menu button, which launches a Web App.",
                "required": [
                    "type",
                    "text",
                    "web_app"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "web_app"
                    },
                    "text": {
                        "type": "string"
                    },
                    "web_app": {
                        "$ref": "#/components/schemas/WebAppInfo"
                    }
                },
                "type": "object"
            },
            "MenuButtonDefault": {
                "description": "Describes that no specific value for the menu button was set.",
                "required": [
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "default"
                    }
                },
                "type": "object"
            },
            "ResponseParameters": {
                "description": "Contains information about why a request was unsuccessful.",
                "properties": {
                    "migrate_to_chat_id": {
                        "type": "integer"
                    },
                    "retry_after": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "InputMedia": {
                "description": "This object represents the content of a media message to be sent. It should be one of",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/InputMediaAnimation"
                    },
                    {
                        "$ref": "#/components/schemas/InputMediaDocument"
                    },
                    {
                        "$ref": "#/components/schemas/InputMediaAudio"
                    },
                    {
                        "$ref": "#/components/schemas/InputMediaPhoto"
                    },
                    {
                        "$ref": "#/components/schemas/InputMediaVideo"
                    }
                ]
            },
            "InputMediaPhoto": {
                "description": "Represents a photo to be sent.",
                "required": [
                    "type",
                    "media"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "photo"
                    },
                    "media": {
                        "type": "string"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    }
                },
                "type": "object"
            },
            "InputMediaVideo": {
                "description": "Represents a video to be sent.",
                "required": [
                    "type",
                    "media"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "video"
                    },
                    "media": {
                        "type": "string"
                    },
                    "thumb": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/InputFile"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "supports_streaming": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "InputMediaAnimation": {
                "description": "Represents an animation file (GIF or H.264/MPEG-4 AVC video without sound) to be sent.",
                "required": [
                    "type",
                    "media"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "animation"
                    },
                    "media": {
                        "type": "string"
                    },
                    "thumb": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/InputFile"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "duration": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "InputMediaAudio": {
                "description": "Represents an audio file to be treated as music to be sent.",
                "required": [
                    "type",
                    "media"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "audio"
                    },
                    "media": {
                        "type": "string"
                    },
                    "thumb": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/InputFile"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "duration": {
                        "type": "integer"
                    },
                    "performer": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "InputMediaDocument": {
                "description": "Represents a general file to be sent.",
                "required": [
                    "type",
                    "media"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "document"
                    },
                    "media": {
                        "type": "string"
                    },
                    "thumb": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/InputFile"
                            },
                            {
                                "type": "string"
                            }
                        ]
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "disable_content_type_detection": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "InputFile": {
                "description": "This object represents the contents of a file to be uploaded. Must be posted using multipart/form-data in the usual way that files are uploaded via the browser.",
                "type": "object"
            },
            "Sticker": {
                "description": "This object represents a sticker.",
                "required": [
                    "file_id",
                    "file_unique_id",
                    "width",
                    "height",
                    "is_animated",
                    "is_video"
                ],
                "properties": {
                    "file_id": {
                        "type": "string"
                    },
                    "file_unique_id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "integer"
                    },
                    "height": {
                        "type": "integer"
                    },
                    "is_animated": {
                        "type": "boolean"
                    },
                    "is_video": {
                        "type": "boolean"
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    },
                    "emoji": {
                        "type": "string"
                    },
                    "set_name": {
                        "type": "string"
                    },
                    "mask_position": {
                        "$ref": "#/components/schemas/MaskPosition"
                    },
                    "file_size": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "StickerSet": {
                "description": "This object represents a sticker set.",
                "required": [
                    "name",
                    "title",
                    "is_animated",
                    "is_video",
                    "contains_masks",
                    "stickers"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "is_animated": {
                        "type": "boolean"
                    },
                    "is_video": {
                        "type": "boolean"
                    },
                    "contains_masks": {
                        "type": "boolean"
                    },
                    "stickers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Sticker"
                        }
                    },
                    "thumb": {
                        "$ref": "#/components/schemas/PhotoSize"
                    }
                },
                "type": "object"
            },
            "MaskPosition": {
                "description": "This object describes the position on faces where a mask should be placed by default.",
                "required": [
                    "point",
                    "x_shift",
                    "y_shift",
                    "scale"
                ],
                "properties": {
                    "point": {
                        "type": "string"
                    },
                    "x_shift": {
                        "type": "number"
                    },
                    "y_shift": {
                        "type": "number"
                    },
                    "scale": {
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "InlineQuery": {
                "description": "This object represents an incoming inline query. When the user sends an empty query, your bot could return some default or trending results.",
                "required": [
                    "id",
                    "from",
                    "query",
                    "offset"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "from": {
                        "$ref": "#/components/schemas/User"
                    },
                    "query": {
                        "type": "string"
                    },
                    "offset": {
                        "type": "string"
                    },
                    "chat_type": {
                        "type": "string"
                    },
                    "location": {
                        "$ref": "#/components/schemas/Location"
                    }
                },
                "type": "object"
            },
            "InlineQueryResult": {
                "description": "This object represents one result of an inline query. Telegram clients currently support results of the following 20 types:",
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedAudio"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedDocument"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedGif"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedMpeg4Gif"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedPhoto"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedSticker"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedVideo"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultCachedVoice"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultArticle"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultAudio"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultContact"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultGame"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultDocument"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultGif"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultLocation"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultMpeg4Gif"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultPhoto"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultVenue"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultVideo"
                    },
                    {
                        "$ref": "#/components/schemas/InlineQueryResultVoice"
                    }
                ]
            },
            "InlineQueryResultArticle": {
                "description": "Represents a link to an article or web page.",
                "required": [
                    "type",
                    "id",
                    "title",
                    "input_message_content"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "article"
                    },
                    "id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "input_message_content": {
                        "$ref": "#/components/schemas/InputMessageContent"
                    },
                    "reply_markup": {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                    },
                    "url": {
                        "type": "string"
                    },
                    "hide_url": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    },
                    "thumb_url": {
                        "type": "string"
                    },
                    "thumb_width": {
                        "type": "integer"
                    },
                    "thumb_height": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "InlineQueryResultPhoto": {
                "description": "Represents a link to a photo. By default, this photo will be sent by the user with optional caption. Alternatively, you can use input_message_content to send a message with the specified content instead of the photo.",
                "required": [
                    "type",
                    "id",
                    "photo_url",
                    "thumb_url"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "photo"
                    },
                    "id": {
                        "type": "string"
                    },
                    "photo_url": {
                        "type": "string"
                    },
                    "thumb_url": {
                        "type": "string"
                    },
                    "photo_width": {
                        "type": "integer"
                    },
                    "photo_height": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "reply_markup": {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                    },
                    "input_message_content": {
                        "$ref": "#/components/schemas/InputMessageContent"
                    }
                },
                "type": "object"
            },
            "InlineQueryResultGif": {
                "description": "Represents a link to an animated GIF file. By default, this animated GIF file will be sent by the user with optional caption. Alternatively, you can use input_message_content to send a message with the specified content instead of the animation.",
                "required": [
                    "type",
                    "id",
                    "gif_url",
                    "thumb_url"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "gif"
                    },
                    "id": {
                        "type": "string"
                    },
                    "gif_url": {
                        "type": "string"
                    },
                    "gif_width": {
                        "type": "integer"
                    },
                    "gif_height": {
                        "type": "integer"
                    },
                    "gif_duration": {
                        "type": "integer"
                    },
                    "thumb_url": {
                        "type": "string"
                    },
                    "thumb_mime_type": {
                        "type": "string",
                        "default": "image/jpeg"
                    },
                    "title": {
                        "type": "string"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageEntity"
                        }
                    },
                    "reply_markup": {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                    },
                    "input_message_content": {
                        "$ref": "#/components/schemas/InputMessageContent"
                    }
                },
                "type": "object"
            },
            "InlineQueryResultMpeg4Gif": {
                "description": "Represents a link to a video animation (H.264/MPEG-4 AVC video without sound). By default, this animated MPEG-4 file will be sent by the user with optional caption. Alternatively, you can use input_message_content to send a message with the specified content instead of the animation.",
                "required": [
                    "type",
                    "id",
                    "mpeg4_url",
                    "thumb_url"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "default": "mpeg4_gif"
                    },
                    "id": {
                        "type": "string"
                    },
                    "mpeg4_url": {
                        "type": "string"
                    },
                    "mpeg4_width": {
                        "type": "integer"
                    },
                    "mpeg4_height": {
                        "type": "integer"
                    },
                    "mpeg4_duration": {
                        "type": "integer"
                    },
                    "thumb_url": {
                        "type": "string"
                    },
                    "thumb_mime_type": {
                        "type": "string",
                        "default": "image/jpeg"
                    },
                    "title": {
                        "type": "string"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "parse_mode": {
                        "type": "string"
                    },
                    "caption_entities": {
[...]
